
<%= bootstrap_form_for [@task] do |f| %>

	<%= f.hidden_field :user_id, value: current_user.id %>
	<%= f.hidden_field :due_date, value: Time.zone.now %>
	<%= f.hidden_field :complete, value: false %>  <!-- remove this after migration of default -->

	
		<ul>
		<li class="text-field"> 
			<%= f.text_field :name, layout: :horizontal, hide_label: :true, placeholder: "Agregar tarea"  %>
		</li>
		<li class="submit-button">
			<%= f.submit "Ok" %>
		</li>
	

	

<% end %>

